*{
    box-sizing: border-box;
    margin:0;
}


h1{
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}

.logo{
    position: absolute;
    left: 80px;
    top: 15px;
    width: 200px;
    height: 80px;
}

#navbar {
    position: absolute;
    top: 20px;
    border-style: none;
}

.user {
    width: 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 35px;
}

.header{
    background-color: white;
    position: fixed;
    height: 100px;
    z-index: 2;
}

.redSec{
    position: relative;
    top:100px;
}

.TopLine{
    width: 360px;
    height: 1.5px;
    background-color: #252525;
}

.datesec{
    z-index: -1;
    background-color:#FF0000;
    width: 360px;
    height: 30px;

}

.bottomLine{
    width: 360px;
    height: 1.5px;
    background-color: #252525;
}

#sub{
    position: absolute;
    right: 10px;
    top: -0.5px;

}

.icon{
    width: 50px;
    height: 50px;
    padding: 8px;
    position: relative;
    left: 50px;
}
.footer{
    background-color: lightgrey;
    height: 230px;
    position: absolute;
    top: 1010px;
    bottom: 0; 
    padding: 20px;
}

.footeTxt{
font-family: 'Merriweather Sans', sans-serif;
text-align: center;
margin: 5px;
}

.hold{
    position: relative;
    left: 100px;
}

.Bstop{
    position: absolute;
    top: 140px;
}


.Bsheading{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    position: relative;
    top: 20px;
    left: 60px;

    
}

.glasses{
    width: 60px ;
    height: 60px;
    position: relative;
    left: 200px;
    bottom: 33px;
    stroke: #FF0000;
    stroke-width: 0.3em;
}

.Pic1{
    position: absolute;
    bottom: 20px;
}

.BsImg1{
    position: absolute;
    left: 15px;
}

.BsinsideWed{
    width: 200px;
    height: 90px;
    background-color: #252525;
    opacity: 0.5;
    position: absolute;
    left: 80px;
    top: 50px;
    
}

.BssubWed{
    font-family: 'Playfair Display', serif;
    font-size:1.2em;
    color: white;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 50px;
}

.BsImg2{
    position: absolute;
   top: 220px;
   left: 15px;
    
}

.BsinsideTra{
    width: 200px;
    height: 90px;
    background-color: #252525;
    opacity: 0.5;
    position: relative;
    bottom: 140px;
    left: 70px;
}

.BssubTra{
    font-family: 'Playfair Display', serif;
    font-size:1.2em;
    color: white;
    text-align: center;
    position: relative;
    top: 30px;
}

.BsImg3{
    position: absolute;
    top: 440px;
   left: 15px;
}

.BsinsideHealth{
    width: 200px;
    height: 90px;
    background-color: #252525;
    opacity: 0.5;
    position: relative;
    bottom: 140px;
    left: 70px;
}

.BssubHealth{
    font-family: 'Playfair Display', serif;
    font-size:1.2em;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 30px;
}

.load{
    position: absolute;
  top: 720px;
  left: 120px;
}

button{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1em;
    border-radius: 50px;
    width: 120px;
    color: white;
    background-color: #FF0000;
    border: 1px solid black;
}

.CallToAction{
    position: absolute;
    top: 770px;
    left: 10px;
    background-color: black;
    width: 340px;
    height: 70px;
}

.Club{
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    position: relative;
    left: 30px;
    top: 20px;
} 


.roundimg{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 43px;
}
.WedHeading{
    position: absolute;
    top: 450px;
    width: 110px;
    background-color: #FF0000;
    padding: 2 2 0 2;
}

.WedHead{
    font-family: 'Playfair Display', serif;
    font-size:16;
    text-align: center;
    color: white;
}

.RedLine{
    width: 100vw;
    height: 5px;
    position: absolute;
    top: 475px;
    background-color: #FF0000;
}
.para{
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 17px;
    margin: 1em;
    text-align: justify;
    position: absolute;
    top: 482px;
}

.back1{
position: absolute;
top: 970px;
}

#backIcon{
    width: 30px;
    height: 30px;
}
.last{
    position: relative;
    left: 40px;
    bottom: 25px;
}