*{
    box-sizing: border-box;
    margin:0;
}

h1{
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}

.logo{
    position: absolute;
    top: 0;
    width: 140px;
    height: 60px;
}

/* modified this code however got it off w3Schools*/
.searchBar {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #252525;
    font-size: 16px;
    background-color: #de2f20;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  ::placeholder{
      color: white;
  }
  
  .searchBar:focus {
    width: 100%;
  }
/* w3Schools code */

.nav-link{
    color: lightslategray;
}

.close{
    position: absolute;
   right: 40px;
   top: 10px;
    font-size: 1.5em;
    z-index: 5;
}

#open{
    z-index: 1;
    padding: 20 0;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position: relative;
    left: -16px;
    top: 20px;
    width: 100vw;
    height: 100vh;
    text-align: justify;
    animation: slide 1s ease-in forwards;
}

.Hsubnav{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
position: relative;
left: 120px;
}

.Gsubnav{
font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: relative;
    left: 145px;
}

.Osubnav{
font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: relative;
    left: 145px;
}

.Hsubnav:hover{
    color: #de2f20;
}
.Gsubnav:hover{
    color: #de2f20;
}
.Osubnav:hover{
    color: c;
}

.navbar {
    color: black;
    position: absolute;
    right: 5px;
    top: 5px;
    max-width: 55px;
    height: 50px;
} 

#navbar{
    position: absolute;
  left: 315px;
  top: 18px;
  width: 30px;
    height: 25px;
}

#Subscribe{
    position: absolute;
    left: 50px;
    text-decoration: #de2f20;
    color: #de2f20;
}

#search{
    fill: white;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 80px;
    top: 20px;
}

#bar{
    display: none;
    position: absolute;
    top: 20px; 
}


.header{
    background-color: #de2f20;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 2;
}



#sub{
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    font-size: 17px;
    position: absolute;
    right: 15px;
    top: 7px;

}

.icon{
    width: 40px;
    height: 40px;
    padding: 8px;
    position: relative;
    left: 60px;
    border-radius: 50%;
    fill: #252525;
}
.footer{
    background-color: #eeeeee;
    position: absolute;
    top: 1320px;
    height: 390px;
    width: 360px;
    padding: 20px;
}

.footerFinance{
    background-color: #eeeeee;
    position: absolute;
    top: 1480px;
    height: 390px;
    width: 360px;
    padding: 20px;
}

.footerWeddings{
    background-color: #eeeeee;
    position: absolute;
    top: 1480px;
    height: 390px;
    width: 360px;
    padding: 20px;
}


.footerHealth{
    background-color: #eeeeee;
    position: absolute;
    top: 1450px;
    height: 390px;
    width: 360px;
    padding: 20px;
}

.TravelFooter{
    background-color: #eeeeee;
    position: absolute;
    top: 1450px;
    height: 390px;
    width: 360px;
    padding: 20px; 
}

.footeTxt{
font-family: 'Merriweather Sans', sans-serif;
text-align: center;
margin: 5px;
font-size: 12px;
}

#footerSiteMap{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;

    line-height: 35px;
    font-size: 12px;
}

/* this is the section that is spesific to Buhle no-one else worked on it */
.Bstop{
    position: absolute;
    top: 60px;
}

.Bsheading{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position: relative;
    top: 15px;
    left: 50px; 
}

.glasses{
    width: 70px ;
    height: 70px;
    position: relative;
    left: 240px;
    bottom: 45px;
}

.Pic1{
    position: absolute;
    top: 60px;
    width: 100vw;
    height: 200px;
    margin: 20px;
   color: black;
}



.Pic2{
    position: absolute;
  top: 300px;
   width: 100vw;
    height: 200px;
    margin: 20px;
  
}


.Pic3{
    position: absolute;
    top: 530px;
    width: 100vw;
     height: 200px;
     margin: 20px;  
}

.Pic4{
    position: absolute;
    top: 770px;
    width: 100vw;
     height: 200px;
     margin: 20px;
}


.load{
    position: absolute;
  top: 1100px;
  left: 110px;
}

.HealthForm{
    position: relative;
    top: 550px;
}

.WeddingsForm{
    position: relative;
    top: 550px;
}

.TravelForm{
    position: relative;
    top: 550px;
}

.FinanceForm{
    position: relative;
    top:1020px ;
}

/* Styling for all the buttons on the good life section */
 #OriginalBut{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.8em;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    color: #de2f20;
    background-color:white;
    border: 1px solid #de2f20;
}

.RegClass{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.8em;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    color: #de2f20;
    background-color:white;
    border: 1px solid #de2f20;
}

.forForm{
    width: 360px;
    height: 100vh;
    background: linear-gradient( lightgray, black);
    padding:50px 100px ;
    border: #252525 1.5px solid;
    transition: 0.5s;
}
.popUpHead{
    color: #de2f20;
    font-size: 30px;

}
.popUpHeading{
    text-align: center;
}


.login{
    font-size: 15px;
    position: relative;
    top: 80px;
    text-align: center;
}

.alwaysLogOut{
    background-color: #de2f20;
    color: white;
    font-size: 15px;
    border-radius: 40px;
    width: 80px;
    height: 30px;
    position: relative;
    left: 40px;
}

.arrow{
    background-color:#de2f20;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 120px;
    bottom: 0.5px;   
}

#iarrow{
    fill: white;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 6px;
    top: 5px;
}
.CallToAction{
    position: absolute;
    top: 1140px;
    background-color: #252525;
    width: 100vw;
    height: 150px;
}

.Club{
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    position: relative;
    left: 30px;
    top: 20px;
} 


.roundimg{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 43px;
}
.WedHeading{
    position: absolute;
    top: 450px;
    width: 110px;
    background-color: #de2f20;
    padding: 2;
}

.WedHead{
    font-family: 'Playfair Display', serif;
    font-size:16;
    position: relative;
    top: 5px;
    z-index: 1;
    text-align: center;
    color: white;
}

.RedLine{
    width: 100vw;
    height: 5px;
    position: absolute;
    top: 480px;
    background-color: #de2f20;
}
.para{
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
    top: 480px;
    margin: 1em;
}

.para1{
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
    top: 480px;
    margin: 1em;
}

.para2{
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
    top: 480px;
    margin: 1em;
}

.paraAPI{
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 17px;
    margin: 1em;
    text-align: justify;
    position: absolute;
    top: 500px;
    max-width: 100vw;
}

.back1{
 cursor: pointer;
position: absolute;
top: 900px;
left: 10px;
border-radius: 50px;
width: 150px;
height: 30px;
border: 1px solid #de2f20;
}

.backFin{
    cursor: pointer;
position: absolute;
top: 980px;
left: 10px;
border-radius: 50px;
width: 150px;
height: 30px;
border: 1px solid #de2f20;
}

.added{
    position: absolute;
    top: 950px;
   left: 50px; 
}

.addedFin{
    position: absolute;
    top: 1030px;
   left: 50px;
}

.QuotePic{
    text-align: justify;
}

/* .PQuote{
    position: relative;
    right: 15px;
} */

.last{
    position: relative;
    right: 70px;
    top: 5px;
text-align: center;
    color: #de2f20;
}

/*@keyFrames*/
@keyframes slide {
    from {transform: translateX(-120px);opacity: 0;}
    to {transform: translateX(10px);opacity: 1;}
}

/* to test the button that shows on scroll */
#myBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    opacity: 0.8;
    background-color: #de2f20;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  /* code for the log Out button on the navBar */
  .arrowLogOut{
    width: 30px;
    height: 30px;
}

.dropDown{
    position: absolute;
    top: 530px;
    left: 83%;
}

#myDropdown{
    display: none;
    font-size: 0.6em;
    position: absolute;
    left: 56%;
    top:83%;
    background-color: #f1f1f1;
    min-width: 90px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#myDropdown a{
    color: #de2f20;
    padding: 8px;
    text-align: center;
}