*{
    box-sizing: border-box;
    margin:0;
}


h1{
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}

.logo{
    position: absolute;
    top: 0;
    width: 140px;
    height: 60px;
}

/* modified this code however got it off w3Schools*/
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #252525;
    font-size: 16px;
    background-color: #de2f20;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  ::placeholder{
      color: white;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
/* w3Schools code */

.nav-link{
    color: lightslategray;
}

.close{
    position: absolute;
   right: 40px;
   top: 10px;
    font-size: 1.5em;
    z-index: 5;
}

#open{
    z-index: 1;
    padding: 20 0;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position: relative;
    left: -16px;
    top: 20px;
    width: 100vw;
    height: 100vh;
    text-align: justify;
    animation: slide 1s ease-in forwards;
}

.Hsubnav{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
position: relative;
left: 120px;
}

.Gsubnav{
font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: relative;
    left: 145px;
}

.Osubnav{
font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: relative;
    left: 145px;
}

.Hsubnav:hover{
    color: #de2f20;
}
.Gsubnav:hover{
    color: #de2f20;
}
.Osubnav:hover{
    color: c;
}

.navbar {
    color: black;
    position: absolute;
    right: 5px;
    top: 5px;
    max-width: 55px;
    height: 50px;
} 

#navbar{
    position: absolute;
  left: 315px;
  top: 18px;
  width: 30px;
    height: 25px;
}

#Subscribe{
    position: absolute;
    left: 50px;
    text-decoration: #de2f20;
    color: #de2f20;
}

#search{
    fill: white;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 65px;
    top: 20px;
}

#bar{
    display: none;
    position: relative;
    top: 20px; 
}


.header{
    background-color: #de2f20;
    position: fixed;
    height: 60px;
    width: 100vw;
    z-index: 2;
}



#sub{
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    font-size: 17px;
    position: absolute;
    right: 15px;
    top: 7px;

}

.icon{
    width: 40px;
    height: 40px;
    padding: 8px;
    position: relative;
    left: 60px;
    border-radius: 50%;
    fill: #252525;
}
.footer{
    background-color: #eeeeee;
    position: absolute;
    top: 945px;
    height: 390px;
    width: 360px;
    padding: 20px;
}

.footeTxt{
font-family: 'Merriweather Sans', sans-serif;
text-align: center;
margin: 5px;
font-size: 12px;
}

#footerSiteMap{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;

    line-height: 35px;
    font-size: 12px;
}

/* this is the section that is spesific to Buhle no-one else worked on it */
.Bstop{
    position: absolute;
    top: 60px;
}

.Bsheading{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position: relative;
    top: 15px;
    left: 50px; 
}

.glasses{
    width: 70px ;
    height: 70px;
    position: relative;
    left: 240px;
    bottom: 45px;
}

.Pic1{
    position: absolute;
    bottom: 40px;
    left: 8px;
}

.BsImg1{
    position: absolute;
    left: 15px;
}

.BssubWed{
    font-family: 'Playfair Display', serif;
    font-size:1.5em;
    font-weight: bolder;
    color: white;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 120px;
}

.BsImg2{
    position: absolute;
   top: 210px;
   left: 15px; 
}

.BssubTra{
    font-family: 'Playfair Display', serif;
    font-size:1.5em;
    font-weight: bolder;
    color: white;
    text-align: center;
    position: relative;
    bottom: 175px;
    
}

.BsImg3{
    position: absolute;
    top: 420px;
   left: 15px;
}

.BssubHealth{
    font-family: 'Playfair Display', serif;
    font-size:1.5em;
    font-weight: bolder;
    color: white;
    text-align: center;
    position: relative;
    bottom: 175px;
    
}


.load{
    position: absolute;
  top: 710px;
  left: 110px;
}

button{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.8em;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    color: #de2f20;
    background-color:white;
    border: 1px solid #de2f20;
}

.arrow{
    background-color:#de2f20;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 120px;
    bottom: 0.5px;
    
}

#iarrow{
    fill: white;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 6px;
    top: 5px;
}
.CallToAction{
    position: absolute;
    top: 760px;
    background-color: #252525;
    width: 100vw;
    height: 100px;
}

.Club{
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    position: relative;
    left: 30px;
    top: 20px;
} 


.roundimg{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 43px;
}
.WedHeading{
    position: absolute;
    top: 450px;
    width: 110px;
    background-color: #de2f20;
    padding: 2;
}

.WedHead{
    font-family: 'Playfair Display', serif;
    font-size:16;
    position: relative;
    top: 5px;
    z-index: 1;
    text-align: center;
    color: white;
}

.RedLine{
    width: 100vw;
    height: 5px;
    position: absolute;
    top: 480px;
    background-color: #de2f20;
}
.para{
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 17px;
    margin: 1em;
    text-align: justify;
    position: absolute;
    top: 482px;
}

.back1{
 cursor: pointer;
position: absolute;
top: 900px;
left: 10px;
border-radius: 50px;
width: 150px;
height: 30px;
border: 1px solid #de2f20;
}


.last{
    position: relative;
    right: 70px;
    top: 5px;
text-align: center;
    color: #de2f20;
}

/*@keyFrames*/
@keyframes slide {
    from {transform: translateX(-120px);opacity: 0;}
    to {transform: translateX(10px);opacity: 1;}
}