*{  box-sizing: border-box;
    margin:0;
}


h1{
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}

p{
    font-family: 'Merriweather Sans', sans-serif;
}

.logo{
    position: absolute;
    width: 140px;
    height: 60px;
}

#main{
    width: 100%;
    height: 100%;
}

/* modified this code however got it off w3Schools */
.searchBar {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #252525;
    font-size: 16px;
    background-color: #de2f20;
    color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  ::placeholder{
      color: white;
  }
  
.searchBar:focus {
    width: 100%;
  }

  .nav-link{
    color: lightslategray;
}

.close{
    position: absolute;
    right: 40px;
    top: 10px;
    font-size: 1.5em;
    z-index: 50;
}
/* w3Schools code */

#open{
    z-index: 1;
    padding: 20 0;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position: relative;
    left: -16px;
    top: 20px;
    width: 100vw;
    height: 100vh;
    text-align: justify;
    animation: slide 1s ease-in forwards;
}

.Hsubnav{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
position: relative;
left: 120px;
}

.Gsubnav{
font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: relative;
    left: 145px;
}

.Osubnav{
font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: relative;
    left: 145px;
}

.Hsubnav:hover{
    color: #FF0000;
}
.Gsubnav:hover{
    color: #FF0000;
}
.Osubnav:hover{
    color: #FF0000;
}

.navbar {
    color: black;
    position: absolute;
    top: 20px; 
    right: 5px;
    top: 5px;
    max-width: 55px;
    height: 50px; 
}

#search{
    fill: white;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 65px;
    top: 20px;
}

#bar{
    display: none;
}


.header{
    background-color: #de2f20;
    position: fixed;
    height: 60px;
    width: 100vw;
    z-index: 2;
}

#sub{
    position: absolute;
    right: 10px;
    top: 7px;
    color: white;
    font-size: 1em;

}

.hold{
    position: relative;
    left: 100px;
    top: 12px;
}

.heading{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position:absolute;
    left: 25px;
    top: 70px;
    text-transform: uppercase;
}

.megaphone{
    width: 30px;
    height: 30px;
    position:absolute;
    right: 30px;
    top: 75px;
}

.BreakingImage{
    width: 360px;
    height: 200px;
    position:absolute;
    top: 120px;
}

.figure-caption{
    position:absolute;
    top: 320px;
}

.subheadingOne{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    position:absolute;
    top: 349px; 
    left: 70px;
    font-size: 1.2em;

}
.para{
    position:absolute;
    padding: 10px;
    top: 370px; 
    text-align: justify; 
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 17px;

}

.w3-button{
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 670px;
    left: 0px;
    width: 360px;
    line-height: 25px;
    height: 100px;
    background-color:#252525;
    color: white;
   
}

/* log out button css */

.dropDown{
    position: absolute;
    top: 530px;
    left: 83%;
}

#myDropdown{
    display: none;
    font-size: 0.6em;
    position: absolute;
    left: 56%;
    top:83%;
    background-color: #f1f1f1;
    min-width: 90px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#myDropdown a{
    color: #de2f20;
    padding: 8px;
    text-align: center;
}
.arrowLogOut{
    width: 30px;
    height: 30px;
}
.otherNews{
    font-family: 'Playfair Display', serif;
    text-decoration-line: underline;
    position:absolute;
    top: 800px; 
    left: 20px;
    font-size: 1.2em; 
}

.newsImage{
    width: 150px;
    height: 100px;
    position:absolute;
    top: 845px; 
    right: 20px;
}

.paraHead{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
    line-height: 20px;
    width: 150px;
    height: 120px;
    position:absolute;
    top: 835px; 
    left: 20px; 
    font-size: 1.2em;
    line-height: 25px; 
}

.paraSm{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
    line-height: 20px;
    width: 150px;
    height: 120px;
    position:absolute;
    top: 890px; 
    left: 20px;
    font-size: 17px;
}

.divider{
    width: 320px;
    height: 0.5px;
    background-color: lightslategray;
    position: absolute;
    top: 968px;
    left: 19px;
}

.newsImageTwo{
    width: 150px;
    height: 100px;
    position:absolute;
    top: 963px; 
    right: 20px;
}  

.paraTwoHead{
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 20px;
    width: 150px;
    height: 120px;
    position:absolute;
    top: 955px; 
    left: 20px; 
    font-size: 1.2em;
    line-height: 25px;   
}

.paraTwo{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
    line-height: 20px ;
    width: 150px;
    height: 120px;
    position:absolute;
    top: 1005px; 
    left: 20px;
    font-size: 17px; 
}

.goodImg{
    border-style: groove;
    margin: 10px;
    height: 120px;
    width: 340px;
    filter: opacity(0.8);
    position: absolute;
    top: 1100px;

}

.sunglasses{
    width: 105px;
    height: 85px;
    padding-left: 10px;
    position: absolute;
    top:1122px;
    left: 15px;
    fill: white;
    
}

.goodLifeHead{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    position:absolute;
    top: 1125px;
    left: 145px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
}

.goodLifePara{
    text-align: justify;
    display: inline-block;
    color: white;
    position: absolute;
    top: 1160px;
    left: 125px;
    line-height: 17px;

}

.opinionImg{
    border-style: groove;
    margin: 10px;
    height: 120px;
    width: 340px;
    filter: grayscale(0.5);
    position: absolute;
    top: 1200px;

}

.chat{
    width: 95px;
    height: 80px;
    padding-left: 10px;
    position: absolute;
    top:1230px;
    fill:white;
    left: 15px;
}

.opinionHead{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    position:absolute;
    top: 1230px;
    left: 148px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
}

.opinionPara{
    text-align: justify;
    display: inline-block;
    color: white;
    position: absolute;
    top: 1270px;
    left: 125px;
    line-height: 17px;
}

/*new section added with database styling . First Addition*/

.newsSectionAdded{
    position: relative;
    top: 650px;
}

.headingFornewsSection{
    margin-top: 15px;
}

.empty{
    margin-top: 20px;
    width: 300px;
    height: 1px;
    background-color: lightgray;

}

/*second addition of images and captions*/

.headingImages{
    position: relative;
    top: -865px;
    left: 15px;
}

.imageAddition{
    position: relative;
    top: 710px;
}

.imageDivider{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 1px;
    background-color: lightgray;
}

/* last section to be added that allows the user to add and delete data */

.factsHeading{
    position: relative;
    margin-top: 25px;
    margin-left: 20px;
}

.factsSection{
    position: relative;
    top: 800px;
}

.facts{
    position: relative;
    top: 800px;
}

form{
    position: relative;
    top:350px;
    width: 300px;
    margin-left: 15px;
}


/* code for the popup */

.popUpWrapper{
    background-color: #de2f20;
    position: fixed;
    width: 360px;
    height: 450px;
    top:0;
    left:0;
    display: none;
    z-index: 100;
}

.popUp{
    background: white;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    position: relative;
    padding: 15%;
}

.popUp a{
    background: #252525;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    border-style: groove;
}

.closePop{
    position: absolute;
    top:5px;
    right: 8px;
    cursor: pointer;
}

/* @keyframes for the navbar opening*/

@keyframes slide {
    from {transform: translateX(-120px);opacity: 0;}
    to {transform: translateX(10px);opacity: 1;}
}

/* to test the button that shows on scroll */
#myBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    opacity: 0.8;
    background-color: #de2f20;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

.icon{
    width: 40px;
    height: 40px;
    padding: 8px;
    position: relative;
    left: 60px;
    border-radius: 50%;
    fill: #252525;
}
.footer{
    background-color: #eeeeee;
    position: absolute;
    top: 7600px;
    bottom: 0;
    height: 400px;
    width: 360px;
    padding: 20px;
}

.footeTxt{
font-family: 'Merriweather Sans', sans-serif;
text-align: center;
margin: 5px;
font-size: 12px;
}

#footerSiteMap{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    line-height: 35px;
    font-size: 12px;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .logo{
        position: absolute;
        width: 200px;
        height: 90px;
        left: 40%;
    }

    .header{
        background-color: #de2f20;
        position: fixed;
        height: 90px;
        width: 100vw;
        z-index: 2;
    }

    .navbar {
       display: none; 
    }

    #search{
        display: none;
    }


}