*{
    margin:0;
}


h1{
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}

.logo{
    position: absolute;
    background-color: white;
    left: 80px;
    top: 15px;
    width: 200px;
    height: 80px;
}


  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color:#FF0000;
    padding: 60px 120px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0; 
  }
  
  .topnav a:hover {
    color: black;
  }
 

#navbar {
    position: absolute;
    background-color: white;
    top: 20px;
    border-style: none;
}

.user {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: white;
    right:20px;
    top: 35px;
}

.header{
    position: fixed;
    height: 100px;
    background-color: white;
    z-index: 2;
}

.redSec{
    position: relative;
    top:100px;
}

.TopLine{
    width: 360px;
    height: 1.5px;
    background-color: #252525;
}

.datesec{
    z-index: -1;
    background-color:#FF0000;
    width: 360px;
    height: 30px;

}

.bottomLine{
    width: 360px;
    height: 1.5px;
    background-color: #252525;
}

#sub{
    position: absolute;
    right: 10px;
    top: -0.5px;

}

.icon{
    width: 50px;
    height: 50px;
    padding: 8px;
    position: relative;
    left: 50px;
}
.footer{
    background-color: lightgrey;
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.footeTxt{
font-family: 'Merriweather Sans', sans-serif;
text-align: center;
margin: 5px;
}

.hold{
    position: relative;
    left: 100px;
}

.heading{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    position:absolute;
    left: 65px;
    top: 150px;
    text-transform: uppercase;
}

.megaphone{
    width: 25px;
    height: 25px;
    position:absolute;
    right: 70px;
    top: 150px;
    stroke: #FF0000;
    stroke-width: 1em;
}

.BreakingImage{
    width: 360px;
    height: 200px;
    position:absolute;
    top: 183px;
}

.figure-caption{
    position:absolute;
    top: 380px;
}

.subheadingOne{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    position:absolute;
    top: 400px; 
    left: 120px;
    font-size: 1.2em;

}
.para{
    position:absolute;
    top: 430px; 
    text-align: justify;
}

.w3-button{
    position: absolute;
    top: 590px;
    left: 110px;

}