*{  box-sizing: border-box;
    margin:0;
}


h1{
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}

p{
    font-family: 'Merriweather Sans', sans-serif;
}
.logo{
    position: absolute;
    background-color: white;
    left: 82px;
    top: 15px;
    width: 200px;
    height: 80px;
}


  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color:#FF0000;
    padding: 60px 120px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0; 
  }
  
  .topnav a:hover {
    color: black;
  }
 

#navbar {
    position: absolute;
    background-color: white;
    top: 20px;
    border-style: none;
}

.user {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: white;
    right:20px;
    top: 35px;
}

.header{
    position: fixed;
    height: 100px;
    background-color: white;
    z-index: 2;
    top: 0;
}

.redSec{
    position: relative;
    top:100px;
}

.TopLine{
    width: 360px;
    height: 1.5px;
    background-color: #252525;
}

.date{
    font-size: 1em;
    /* position: ; */
}
.datesec{
    z-index: -1;
    background-color:#FF0000;
    width: 360px;
    height: 30px;
    color: white;
    font-size: 1em;
}

.bottomLine{
    width: 360px;
    height: 1.5px;
    background-color: #252525;
}

#sub{
    position: absolute;
    right: 10px;
    top: 7px;
    color: white;
    font-size: 1em;

}

.icon{
    width: 50px;
    height: 50px;
    padding: 8px;
    position: relative;
    left: 50px;
}
.footer{
    background-color: lightgrey;
    position: absolute;
    top: 1340px;
    bottom: 0;
    height: 230px;
    padding: 20px;
}

.footeTxt{
font-family: 'Merriweather Sans', sans-serif;
text-align: center;
margin: 5px;
}

.hold{
    position: relative;
    left: 100px;
}

.heading{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position:absolute;
    left: 25px;
    top: 138px;
    /* top: 143px; */
    text-transform: uppercase;
}

.megaphone{
    width: 30px;
    height: 30px;
    position:absolute;
    right: 30px;
    top: 144px;
    stroke: #FF0000;
    stroke-width: 1em;
}

.BreakingImage{
    width: 360px;
    height: 200px;
    position:absolute;
    top: 183px;
}

.figure-caption{
    position:absolute;
    top: 380px;
}

.subheadingOne{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    position:absolute;
    top: 420px; 
    left: 120px;
    font-size: 1.2em;

}
.para{
    position:absolute;
    padding: 10px;
    top: 450px; 
    text-align: justify; 
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 17px;

}

.w3-button{
    position: absolute;
    top: 672px;
    left: 85px;
    background-color: #252525;
    color: white;
    width: 200px;
    height: 50px;
}

.otherNews{
    font-family: 'Playfair Display', serif;
    text-decoration-line: underline;
    position:absolute;
    top: 750px; 
    left: 20px;
    font-size: 1.2em; 
}

.newsImage{
    width: 150px;
    height: 120px;
    position:absolute;
    top: 790px; 
    left: 20px;
}

.paraSm{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
    line-height: 20px;
    width: 150px;
    height: 120px;
    position:absolute;
    top: 797px; 
    right: 20px;
    line-height: 17px;
}

.divider{
    width: 320px;
    height: 0.5px;
    background-color: #252525;
    position: absolute;
    top: 945px;
    left: 20px;
}

.newsImageTwo{
    width: 150px;
    height: 120px;
    position:absolute;
    top: 940px; 
    right: 20px;
}  

.paraTwo{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
    line-height: 20px ;
    width: 150px;
    height: 120px;
    position:absolute;
    top: 947px; 
    left: 20px; 
    line-height: 17px;
}

/* .scrolling-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card{  
    display: inline-block;
} */

.goodLife{
    border-style: groove;
    margin: 10px;
    height: 100px;
    position: absolute;
    top: 1100px;
    background-color: lightgray;
    width: 340px;
}

.sunglasses{
    width: 105px;
    height: 85px;
    padding-left: 10px;
    position: absolute;
    top:7px;
    stroke: #FF0000;
    stroke-width: 0.8em;
}

.goodLifeHead{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    position:absolute;
    top: 7px;
    left: 145px;
    text-transform: uppercase;
    display: inline-block;
}

.goodLifePara{
    text-align: justify;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 125px;
    line-height: 17px;

}

.opinion{
    border-style: groove;
    margin: 10px;
    height: 100px;
    position: absolute;
    top: 1200px;
    background-color: lightgray;
    width: 340px;
}

.chat{
    width: 95px;
    height: 80px;
    padding-left: 10px;
    position: absolute;
    top:7px;
    stroke: #FF0000;
    stroke-width: 0.8em;
}

.opinionHead{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    position:absolute;
    top: 7px;
    left: 148px;
    text-transform: uppercase;
    display: inline-block;
}

.opinionPara{
    text-align: justify;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 125px;
    line-height: 17px;
}

/* code for the popup */

.popUpWrapper{
    background-color: #FF0000;
    position: fixed;
    width: 360px;
    height: 400px;
    top:0;
    left:0;
    display: none;
    z-index: 100;
}

.popUp{
    background: white;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    position: relative;
    padding: 5%;
}

.popUp a{
    background: #252525;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    border-style: groove;
}

.closePop{
    position: absolute;
    top:5px;
    right: 8px;
    cursor: pointer;
}