*{
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
}


h1{
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}


/* --------THE HEADER SECTION-------- */
.logo{
    position: absolute;
    left: 80px;
    top: 15px;
    width: 200px;
    height: 80px;
}

#navbar {
    position: absolute;
    top: 20px;
    border-style: none;
}

.user {
    width: 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 35px;
}

.header{
    top: 0;
    position: fixed;
    height: 100px;
    z-index: 100;
    background: white;
    width: 100vw;
}

.redSec{
    position: relative;
    top:100px;
}

.TopLine{
    width: 360px;
    height: 1.5px;
    background-color: #252525;
}

.datesec{
    z-index: -1;
    background-color:#FF0000;
    width: 360px;
    height: 30px;

}

.bottomLine{
    width: 360px;
    height: 1.5px;
    background-color: #252525;
}

#navdate {
    font-size: 17px;
    margin-left: 10px;
    color: white;
    position: relative;
    top: 3px;
}

#sub{
    position: absolute;
    right: 10px;
    bottom: 1px;
    font-size: 17px;
    color: white;
}


/* --------Opinion page-------- */

.Kheading {
    font-family: 'Playfair Display', serif;
    transform: translateY(150px);
    font-size: 2em;
}

#speechBbl {
    width: 50px;
    stroke: #FF0000;
    stroke-width: 0.2em;
}

.opinionSec {
    margin: 10px;
    border-style: groove;
    position: relative;
    top: 100px;
    background-color: rgb(243, 243, 243);
}

.Ktitle {
    color: #FF0000;
    text-decoration: underline;
    margin-left: 5px;
    font-family: 'Merriweather Sans', sans-serif;
}

.Ksubhead {
    font-family: 'Playfair Display', serif;
    color: black;
    margin-left: 5px;
    font-size: 1.2em;
}

.para {
    text-align: initial;
    width: 50%;
    word-spacing: 1px;
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
    margin-left: 5px;
    
}

.Kauth {
    color: #999999ff;
    font-size: 10px;
    line-height: 10px;
    margin-left: 5px;
    font-family: 'Merriweather Sans', sans-serif;
}

.pic {
    width: 150px;
    height: 120px;
    float: right;
    margin-right: 5px;
    position: relative;
    bottom: 120px;
}


/* -------ADDING YOUR COMMENT SECTION-------- */
.YourSay {
    position: relative;
    top: 60px;
    display: inline-block;
    margin-left: 60px; 
    font-family: 'Playfair Display', serif;   
}

.form {
    position: relative;
    top: 80px;
    margin-left: 10px;
}

#name {
    width: 235px;
    position: relative;
    left: 50px;
    font-family: 'Merriweather Sans', sans-serif;
}

#article {
    width: 235px;
    position: relative;
    left: 37px;
    font-family: 'Merriweather Sans', sans-serif;
}

#comment {
    width: 235px;
    position: relative;
    left: 17px;
    height: 100px;
    font-family: 'Merriweather Sans', sans-serif;
}

#submit {
    position: relative;
    left: 260px;
    top: 80px;
    border-radius: 50px;
    padding: 2px;
    width: 80px;
    background-color: #FF0000;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    border: 1px solid black;
    font-size: 1em;
}


/* >>>>>>>>>>>>> CLICKED PAGE <<<<<<<<<<<<<< */

.pic2 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: relative;
    top: 170px;
    left: 50px;
}

.letter {
    background: #FF0000;
    display: inline-block;
    position: relative;
    top: 250px;
    padding: 3px;
    margin-left: 10px;
    color: white;
}

.letterbot {
    background: #FF0000;
    position: relative;
    top: 245px;
    margin-left: 10px;
    margin-right: 10px;
    height: 5px;
    
}

.letText {
    position: relative;
    top: 280px;
    margin: 10px;
    text-align: justify;
}

#allBack {
    color: black;
}

#return {
    width: 80px;
    margin-left: 10px;
    position: relative;
    top: 320px;
    stroke: #FF0000;
    stroke-width: 0.8em;
    cursor: pointer;
    border-radius: 50px;
    padding: 2px;
    width: 80px;
    background-color: #FF0000;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    border: 1px solid black;
    font-size: 1em;
}

#Kback {
    position: relative;
    top: 295px;
    left: 50px;
    text-decoration: underline;
}


/* -------THE FOOTER-------- */
.footer{
    background-color: lightgrey;
    position: absolute;
    top: 1470px;
    bottom: 0;
    height: 220px;
    padding: 20px;
}

.icon{
    width: 50px;
    height: 50px;
    padding: 8px;
    position: relative;
    left: 50px;
    stroke: #FF0000;
    stroke-width: 0.8em;
    border-radius: 50%;
}

.footeTxt{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    margin: 10px;
    font-size: 12px;
}

.hold{
    position: relative;
    left: 100px;
    margin: 10px;
}