*{
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
}


h1{
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}


/* --------THE HEADER SECTION-------- */
.logo{
    position: absolute;
    
    width: 140px;
    height: 60px;
}

/* modified this code however got it off w3Schools*/
.searchBar {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #252525;
    font-size: 16px;
    background-color: #FF0000;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  ::placeholder{
      color: white;
  }
  
  .searchBar:focus {
    width: 99%;
  }

/* w3Schools code */

.nav-link{
    color: lightslategray;
}

.close{
    position: absolute;
    left: 300px;
    top: 10px;
    font-size: 1.5em;
    z-index: 50;
}

#open{
    z-index: 1;
    padding: 20 0;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position: relative;
    left: -16px;
    top: 20px;
    width: 100vw;
    height: 100vh;
    text-align: justify;
    animation: slide 1s ease-in forwards;
}

.Hsubnav{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
position: relative;
left: 120px;
}

.Gsubnav{
font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: relative;
    left: 145px;
}

.Osubnav{
font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: relative;
    left: 145px;
}

.Hsubnav:hover{
    color: #FF0000;
}
.Gsubnav:hover{
    color: #FF0000;
}
.Osubnav:hover{
    color: #FF0000;
}

.navbar {
    color: black;
    position: absolute; 
    right: 5px;
    top: 5px;
    max-width: 55px;
    height: 50px;
} 

#search{
    fill: white;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 65px;
    top: 20px;
}

#bar{
    display: none;
}


.header{
    background-color: #de2f20;
    position: fixed;
    height: 60px;
    width: 100vw;
    z-index: 2;
}



/* --------OPINION PAGE-------- */

.Kheading {
    font-family: 'Playfair Display', serif;
    transform: translateY(80px);
    font-size: 2em;
}

#speechBbl {
    width: 50px;
    stroke-width: 0.2em;
}

.opinionSec {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 45px;
    height: 210px;
}

.opinionSecArt {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 40px;
    height: 240px;
}

.opinionSecLet {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 40px;
    height: 240px;
}

.PageLine {
    height: 0.5px;
    width: 330px;
    background-color: lightgrey;
    position: relative;
    left: 15px;
    top: 26px;
}

.PageLineArt {
    height: 0.5px;
    width: 330px;
    background-color: lightgrey;
    position: relative;
    left: 15px;
    top: 26px;
}

.PageLineLet {
    height: 0.5px;
    width: 330px;
    background-color: lightgrey;
    position: relative;
    left: 15px;
    top: 21px;
}

.PageLineCol {
    height: 0.5px;
    width: 330px;
    background-color: lightgrey;
    position: relative;
    left: 15px;
    top: 20px;
}


.Ktitle {
    color: #de2f20;
    text-decoration: underline;
    margin-left: 6px;
    margin-top: 5px;
    font-family: 'Merriweather Sans', sans-serif;
}

.Ksubhead {
    font-family: 'Playfair Display', serif;
    color: black;
    margin-left: 3px;
    font-size: 1.1em;
}

.Ksubhead2 {
    font-family: 'Playfair Display', serif;
    color: black;
    margin-left: 3px;
    font-size: 1.1em;
}

.para {
    text-align: initial;
    width: 50%;
    word-spacing: 1px;
    color: #252525;
    font-family: 'Merriweather Sans', sans-serif;
    margin-left: 6px;
    line-height: 20px;
}

a:active {
    text-decoration: none;
}

.Kauth {
    color: #999999ff;
    font-size: 10px;
    line-height: 7px;
    margin-left: 5px;
    font-family: 'Merriweather Sans', sans-serif;
}

.Kdate {
    color: #999999ff;
    font-size: 10px;
    line-height: 7px;
    margin-left: 5px;
    font-family: 'Merriweather Sans', sans-serif;
}

.Kdate2 {
    color: #999999ff;
    font-size: 10px;
    line-height: 7px;
    margin-left: 3px;
    font-family: 'Merriweather Sans', sans-serif;
}

.KauthArt {
    color: #999999ff;
    font-size: 10px;
    line-height: 7px;
    margin-left: 5px;
    font-family: 'Merriweather Sans', sans-serif;
}

.KdateArt {
    color: #999999ff;
    font-size: 10px;
    line-height: 7px;
    margin-left: 5px;
    font-family: 'Merriweather Sans', sans-serif;
}

.KauthLet {
    color: #999999ff;
    font-size: 10px;
    line-height: 7px;
    margin-left: 5px;
    font-family: 'Merriweather Sans', sans-serif;
}

.KdateLet {
    color: #999999ff;
    font-size: 10px;
    line-height: 7px;
    margin-left: 5px;
    font-family: 'Merriweather Sans', sans-serif;
}

.pic {
    width: 150px;
    height: 100px;
    float: right;
    margin-right: 6px;
    position: relative;
    bottom: 120px;
}


/* -------ADDING YOUR COMMENT SECTION-------- */
.YourSay {
    position: relative;
    top: 10px;
    left: 15px;
    display: inline-block;
    margin-left: 60px; 
    font-family: 'Playfair Display', serif;   
}

.form {
    position: relative;
    top: 30px;
    margin-left: 10px;
}

.FormText {
    position: relative;
    left: 35px;
    margin-bottom: 2px;
    margin-top: 8px;
}

#name {
    color: black;
    width: 270px;
    max-height: 30px;
    position: relative;
    left: 35px;
    font-family: 'Merriweather Sans', sans-serif;
}

#email {
    width: 270px;
    max-height: 30px;
    position: relative;
    left: 35px;
    font-family: 'Merriweather Sans', sans-serif;   
}

#article {
    width: 270px;
    max-height: 30px;
    position: relative;
    left: 35px;
    font-family: 'Merriweather Sans', sans-serif;
}

#comment {
    width: 270px;
    position: relative;
    left: 35px;
    height: 100px;
    border: 1px solid black;
    font-family: 'Merriweather Sans', sans-serif;
}

#checkbox {
    position: relative;
    top: 40px;
    right: 240px;
}

#TnC {
    position: relative;
    left: 50px;
    top: 12px;
}

#submit {
    position: relative;
    left: 185px;
    top: 60px;
    border-radius: 50px;
    padding: 2px;
    width: 130px;
    height: 30px;
    background-color: white;
    color: #de2f20;
    font-family: 'Merriweather Sans', sans-serif;
    border: 1px solid #de2f20;
    font-size: 0.8em;
}

.arrow{
    background-color:#de2f20;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    left: 285px;
    top: 30px;
}

#iarrow{
    fill: white;
    width: 20px;
    height: 20px;
    position: relative;
    left: 6px;
    top: 5px;
}



/* >>>>>>>>>>>>> CLICKED PAGE <<<<<<<<<<<<<< */

.pic2 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: relative;
    top: 170px;
    left: 50px;
}

.letter {
    background: #de2f20;
    display: inline-block;
    position: relative;
    top: 250px;
    padding: 3px;
    margin-left: 10px;
    color: white;
}

.letterbot {
    background: #de2f20;
    position: relative;
    top: 245px;
    margin-left: 10px;
    margin-right: 10px;
    height: 5px;
    
}

.letText {
    position: relative;
    top: 150px;
    margin: 10px;
    text-align: justify;
}

.ArtText {
    position: relative;
    top: 280px;
    margin: 10px;
    text-align: justify;
}

.EditText {
    position: relative;
    top: 280px;
    margin: 10px;
    text-align: justify;
}

.ColText {
    position: relative;
    top: 280px;
    margin: 10px;
    text-align: justify;
}

#return {
    width: 130px;
    height: 30px;
    margin-left: 10px;
    position: relative;
    top: 320px;
    cursor: pointer;
    border-radius: 50px;
    padding: 2px;
    background-color: white;
    color: #de2f20;
    font-family: 'Merriweather Sans', sans-serif;
    border: 1px solid #de2f20;
    font-size: 0.8em;
}

.OParrow {
    background-color:#de2f20;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    left: 109px;
    top: 290px;
}

#OPiarrow {
    fill: white;
    width: 20px;
    height: 20px;
    position: relative;
    left: 6px;
    top: 5px;
}




/* -------THE FOOTER-------- */
.footer{
    background-color: #eeeeee;
    position: absolute;
    top: 1650px;
    bottom: 0;
    height: 390px;
    width: 360px;
    padding: 20px;
}

.icon{
    width: 40px;
    height: 40px;
    padding: 8px;
    position: relative;
    left: 60px;
    border-radius: 50%;
    fill: #252525;
}

.footeTxt{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    margin: 5px;
    font-size: 12px;
}

#footerSiteMap{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    line-height: 35px;
    font-size: 12px;
}

.ClickedFooter {
    background-color: #eeeeee;
    position: absolute;
    top: 1500px;
    bottom: 0;
    height: 390px;
    width: 360px;
    padding: 20px;
}

.ClickedFooterLet {
    background-color: #eeeeee;
    position: absolute;
    top: 1250px;
    bottom: 0;
    height: 390px;
    width: 360px;
    padding: 20px;
}

/*@keyFrames*/
@keyframes slide {
    from {transform: translateX(-120px);opacity: 0;}
    to {transform: translateX(10px);opacity: 1;}
}




/* Log In Page */
.loginForm {
    margin: 80px 0;
}

.popUpHeading {
    text-align: center;
}

.loginDiv {
    width: 360px;
    height: 100vh;
    background: linear-gradient( lightgray, black);
    padding:50px 100px ;
    border: #252525 1.5px solid;
    transition: 0.5s;
}

.popUpHead {
    color: #de2f20;
    font-size: 30px;

}

.logBut {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.8em;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    color: #de2f20;
    background-color:white;
    border: 1px solid #de2f20;
}

.formArrow {
    background-color:#de2f20;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 220px;
    top: 325.7px;
}

.logIn {
    position: relative;
    bottom: 150px;
    text-align: center;
}


/* Log out */
.dropDown{
    position: absolute;
    top: 530px;
    left: 83%;
}

#myDropdown{
    display: none;
    font-size: 0.6em;
    position: absolute;
    left: 56%;
    top:83%;
    background-color: #f1f1f1;
    min-width: 90px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#myDropdown a{
    color: #de2f20;
    padding: 8px;
    text-align: center;
}
.arrowLogOut{
    width: 30px;
    height: 30px;
}


/* Register */
.Pic1{
    position: absolute;
    bottom: 40px;
    left: 8px;
}

.BsImg1{
    position: absolute;
    left: 15px;
}

.BssubWed{
    font-family: 'Playfair Display', serif;
    font-size:1.5em;
    font-weight: bolder;
    color: white;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 120px;
}

.BsImg2{
    position: absolute;
   top: 210px;
   left: 15px; 
}

.BssubTra{
    font-family: 'Playfair Display', serif;
    font-size:1.5em;
    font-weight: bolder;
    color: white;
    margin: auto;
    text-align: center;
    position: relative;
    bottom: 175px;
    
}

.BsImg3{
    position: absolute;
    top: 420px;
   left: 15px;
}

.BssubHealth{
    font-family: 'Playfair Display', serif;
    font-size:1.5em;
    font-weight: bolder;
    color: white;
    text-align: center;
    position: relative;
    bottom: 175px;
    
}

.BsImg4{
    position: absolute;
    top: 650px;
    left: 15px;
}

.BssubFin{
    font-family: 'Playfair Display', serif;
    font-size:1.5em;
    font-weight: bolder;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 10px;
}


/* Register / Log In Button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 60px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    opacity: 0.8;
    background-color: #de2f20;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }