*{  box-sizing: border-box;
    margin:0;
}


h1{
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}

p{
    font-family: 'Merriweather Sans', sans-serif;
}

.logo{
    position: absolute;
    top:0px;
    width: 140px;
    height: 60px;
}

#main{
    width: 100%;
    height: 100%;
}

/* modified this code however got it off w3Schools */
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #252525;
    font-size: 16px;
    background-color: #FF0000;
    color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  ::placeholder{
    color: white;
}

input[type=text]:focus {
  width: 100%;
}

.nav-link{
  color: lightslategray;
}

.close{
  position: absolute;
  left: 40px;
  top: 40px;
  font-size: 1.5em;
}

/* w3Schools code */

#open{
    z-index: 1;
    padding: 20 0;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position: relative;
    left: -16px;
    top: 20px;
    width: 100vw;
    height: 100vh;
    text-align: justify;
    animation: slide 1s ease-in forwards;
}

.Hsubnav{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
position: relative;
left: 120px;
}

.Gsubnav{
font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: relative;
    left: 145px;
}

.Osubnav{
font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: relative;
    left: 145px;
}

.Hsubnav:hover{
    color: #FF0000;
}
.Gsubnav:hover{
    color: #FF0000;
}
.Osubnav:hover{
    color: #FF0000;
}

.navbar {
    color: black;
    position: absolute;
    left: 300px;
    top: 5px;
    max-width: 55px;
    height: 50px; 
}

#search{
    fill: white;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 65px;
    top: 20px;
}

#bar{
    display: none;
}

.header{
    background-color: #de2f20;
    position: fixed;
    height: 60px;
    width: 100vw;
    z-index: 2;
}

#sub{
    position: absolute;
    right: 10px;
    top: 7px;
    color: white;
    font-size: 1em;
}

.headingOne{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position:absolute;
    left: 25px;
    top: 70px;
    text-transform: uppercase;
    
}

.newspaper{
    width: 30px;
    height: 30px;
    position:absolute;
    right: 30px;
    top: 75px;
}

.otherImage{
    width: 160px;
    height: 100px;
    position:absolute;
    top: 130px;
    right: 20px;
}

.figure-caption{
    position:absolute;
    top: 230px;
    right: 20px;
}

.subheadingOne{
    font-family: 'Playfair Display', serif;
    position:absolute;
    top: 125px; 
    left: 20px;
    font-size: 1.2em 

}
.para{
    position:absolute;
    padding: 10px;
    top: 180px; 
    text-align: justify; 
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 17px;

}

.otherImageCor{
    width: 360px;
    height: 200px;
    position:absolute;
    top: 550px;
}

.figure-captionTwo{
    position:absolute;
    top: 750px;
}

.subheadingTwo{
    font-family: 'Playfair Display', serif;
    position:absolute;
    top: 790px; 
    left: 30px;
    font-size: 1.2em;

}
.paraTwo{
    position:absolute;
    padding: 10px;
    top: 820px; 
    text-align: justify; 
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 17px;
}

.firstDivider{
    width: 330px;
    height: 1px;
    background-color: #252525;
    position: absolute;
    top: 527px;
    left: 15px;
}

.secondDivider{
    width: 330px;
    height: 1px;
    background-color: #252525;
    position: absolute;
    top: 897px;
    left: 15px;
}

.subheadingSmall{
    font-family: 'Playfair Display', serif;
    position:absolute;
    top: 920px; 
    left: 30px;
    font-size: 1.2em 
}

.joburgImage{
    width: 160px;
    height: 100px;
    position:absolute;
    top: 925px;
    right: 20px;
}

.figure-captionThree{
    position:absolute;
    top: 1023px;
    right: 20px;
}

.paraThree{
    position:absolute;
    padding: 10px;
    top: 1050px; 
    text-align: justify; 
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 17px;
}

.thirdDivider{
    width: 330px;
    height: 1px;
    background-color: #252525;
    position: absolute;
    top: 1130px;
    left: 15px;
}

.subheadingSmallTwo{
    font-family: 'Playfair Display', serif;
    position:absolute;
    top: 1150px; 
    left: 30px;
    font-size: 1.2em 
}

.codingImage{
    width: 160px;
    height: 100px;
    position:absolute;
    top: 1157px;
    right: 20px;
}

.figure-captionFour{
    position:absolute;
    top: 1255px;
    right: 20px;
}

.paraFour{
    position:absolute;
    padding: 10px;
    top: 1282px; 
    text-align: justify; 
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 17px;
}

.fourthDivider{
    width: 330px;
    height: 1px;
    background-color: #252525;
    position: absolute;
    top: 1360px;
    left: 15px;
}

.subheadingSmallThree{
    font-family: 'Playfair Display', serif;
    position:absolute;
    top: 1379px; 
    left: 30px;
    font-size: 1.2em 
}

.domesticLaw{
    width: 160px;
    height: 100px;
    position:absolute;
    top: 1385px;
    right: 20px;
}

.figure-captionFive{
    position:absolute;
    top: 1480px;
    right: 20px;
}

.paraFive{
    position:absolute;
    padding: 10px;
    top: 1505px; 
    text-align: justify; 
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 17px;
}

.fifthDivider{
    width: 330px;
    height: 1px;
    background-color: #252525;
    position: absolute;
    top: 1588px;
    left: 15px;
}


.icon{
    width: 50px;
    height: 50px;
    padding: 8px;
    position: relative;
    left: 31px;
    stroke: #FF0000;
    stroke-width: 0.8em;
    border-radius: 50%;
    fill: #252525;
}
.footer{
    background-color: #eeeeee;
    position: absolute;
    top: 1615px;
    bottom: 0;
    height: 220px;
    padding: 20px;
}

.footeTxt{
font-family: 'Merriweather Sans', sans-serif;
text-align: center;
margin: 5px;
font-size: 12px;
}

.hold{
    position: relative;
    left: 100px;
    top: 12px;
}
