*{  box-sizing: border-box;
    margin:0;
    overflow-x: hidden;
}


h1{
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}

p{
    font-family: 'Merriweather Sans', sans-serif;
}

.logo{
    position: fixed;
    top:0px;
    width: 140px;
    height: 60px;

}

#main{
    width: 100%;
    height: 100%;
    position: fixed;
}

/* modified this code however got it off w3Schools */
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #252525;
    font-size: 16px;
    background-color: #FF0000;
    color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  ::placeholder{
    color: white;
}

input[type=text]:focus {
  width: 100%;
}

.nav-link{
  color: lightslategray;
}

.close{
  position: relative;
  left: 40px;
  top: 40px;
  font-size: 1.5em;
}

/* w3Schools code */

#open{
    z-index: 1;
    padding: 20 0;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position: fixed;
    left: -16px;
    top: 20px;
    width: 100vw;
    height: 100vh;
    text-align: justify;
    animation: slide 1s ease-in forwards;
}

.Hsubnav{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: fixed;
    left: 120px;
}

.Gsubnav{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: fixed;
    left: 145px;
}

.Osubnav{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: fixed;
    left: 145px;
}

.Hsubnav:hover{
    color:#de2f20 ;
    position: fixed;
}
.Gsubnav:hover{
    color:#de2f20 ;
    position: fixed;
}
.Osubnav:hover{
    color:#de2f20 ;
    position: fixed;
}

.navbar {
    color: black;
    position: fixed;
    left: 300px;
    top: 5px;
    width: 55px;
    height: 50px; 
    display: block;
}

#search{
    fill: white;
    width: 20px;
    height: 20px;
    position: relative;
    left: 270px;
    top: -28px;
}

#bar{
    display: none;
}

.header{
    background-color: #de2f20;
    position: fixed;
    height: 60px;
    width: 100vw;
    z-index: 2;
}

#sub{
    position: relative;
    right: 10px;
    top: 7px;
    color: white;
    font-size: 1em;
}

.spacer{
    height: 6vh;
}
.headingOne{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position: relative;
    top: 70px;
    left: 25px;
    text-transform: uppercase;
    display: block;
}

.newspaper{
    width: 30px;
    height: 30px;
    position: relative;
    left: 300px;
    top: 30px;
}
.subheadingOne{
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
}
.otherNewsImage{
    width: 100%;
    height: 30%;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

.figure-caption{
    padding-left: 20px;
}

.para{
    position:relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 17px;
}
.firstDivider{
    width: 320px;
    height: 1px;
    background-color: lightgray;
    margin-left: 20px;
    margin-right: 15px;
}

.icon{
    width: 40px;
    height: 40px;
    padding: 8px;
    position: relative;
    left: 60px;
    border-radius: 50%;
    fill: #252525;
    display: block;
    z-index: 100;
}
.footer{
    background-color: #eeeeee;
    bottom: 0;
    height: 400px;
    width: 360px;
    padding: 20px;
}

.footeTxt{
font-family: 'Merriweather Sans', sans-serif;
text-align: center;
margin: 5px;
font-size: 12px;
}

#footerSiteMap{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    line-height: 35px;
    font-size: 12px;
}

.captionThree{
    margin-left: 20px;
}