*{
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
}


h1{
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}


/* --------THE HEADER SECTION-------- */
.logo{
    position: absolute;
    
    width: 140px;
    height: 60px;
}

/* modified this code however got it off w3Schools*/
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #252525;
    font-size: 16px;
    background-color: #FF0000;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  ::placeholder{
      color: white;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
/* w3Schools code */

.nav-link{
    color: lightslategray;
}

.close{
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 1.5em;
}

#open{
    z-index: 1;
    padding: 20 0;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position: relative;
    left: -16px;
    top: 20px;
    width: 100vw;
    height: 100vh;
    text-align: justify;
    animation: slide 1s ease-in forwards;
}

.Hsubnav{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
position: relative;
left: 120px;
}

.Gsubnav{
font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: relative;
    left: 145px;
}

.Osubnav{
font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.6em;
    color: #252525;
    position: relative;
    left: 145px;
}

.Hsubnav:hover{
    color: #FF0000;
}
.Gsubnav:hover{
    color: #FF0000;
}
.Osubnav:hover{
    color: #FF0000;
}

.navbar {
    color: black;
    position: absolute; 
    right: 5px;
    top: 5px;
    max-width: 55px;
    height: 50px;
} 

#search{
    fill: white;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 65px;
    top: 20px;
}

#bar{
    display: none;
}


.header{
    background-color: #de2f20;
    position: fixed;
    height: 60px;
    width: 100vw;
    z-index: 2;
}



/* SUBSCRIBE & LOG IN */

.close {
    position: relative;
    top: 30px;
    right: 30px;
    font-size: 1.5em;
}

.subscribe {
    position: relative;
    top: 150px;
    color: #252525;
}

.login {
    position: relative;
    top: 150px;
    color: #252525;
}



/* -------THE FOOTER-------- */
.footer{
    background-color: #eeeeee;
    position: absolute;
    top: 450px;
    bottom: 0;
    height: 390px;
    width: 360px;
    padding: 20px;
}

.icon{
    width: 40px;
    height: 40px;
    padding: 8px;
    position: relative;
    left: 60px;
    border-radius: 50%;
    fill: #252525;
}

.footeTxt{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    margin: 5px;
    font-size: 12px;
}

#footerSiteMap{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;

    line-height: 35px;
    font-size: 12px;
}